{% block head %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smash - Bootstrap Business Template</title>

    {% block assets %}
    {% endblock assets %}
</head>
{% endblock head %}

{% block body %}
    {% block layout_body %}
    {% endblock layout_body %}
    {% block assets_bottom %}
    {% endblock assets_bottom %}
{% endblock body %}

{% block footer %}
</html>
{% endblock footer %}
