{% block head %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smash - Bootstrap Business Template</title>

    {% block assets %}
    {% endblock assets %}
    {% block content_type_assets %}
        {{ content_type_assets(render, 'head') }}
    {% endblock content_type_assets %}
</head>
{% endblock head %}

{% block body %}
    {% block layout_body %}
    {% endblock layout_body %}
    {% block assets_bottom %}
    {% endblock assets_bottom %}
    {% block content_type_assets_bottom %}
        {{ content_type_assets(render, 'bottom') }}
    {% endblock content_type_assets_bottom %}
{% endblock body %}

{% block footer %}
</html>
{% endblock footer %}
